<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>RegistrationMVC</display-name>
 <welcome-file-list>
 <welcome-file>Home.jsp</welcome-file>
 </welcome-file-list>
 <servlet>
 <description></description>
 <display-name>Registration_servlet</display-name>
 <servlet-name>Registration_servlet</servlet-name>
 <servlet-class>user_registration_j2ee.controller.Registration_servlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Registration_servlet</servlet-name>
 <url-pattern>/Registration_servlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>Login_servlet</servlet-name>
 <servlet-class>user_registration_j2ee.controller.Login_servlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>Login_servlet</servlet-name>
 <url-pattern>/</url-pattern>
 </servlet-mapping>
 
</web-app>